a{
  color: Lavender;
  text-decoration: none;

}
a:hover{
  color: Salmon ;
}
img{
  border-radius: 60%;
  width: 50%;

}
footer{
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: white;
  text-align: right;
}

body{
  background-image: url(../images/stars.jpg);
  background-position: center;
  background-color: FloralWhite;
  color: Azure;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
h1{
  margin-bottom: 0.5rem;
  margin-top: 3rem;
  font-family: 'Cinzel Decorative', cursive;
  text-shadow: 2px 2px 4px #000000;
  font-size: 48px;
  color: Snow;
}
h2{
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  color: Azure;
  font-size: 30px;
  text-shadow: 2px 2px 4px #000000;
}
